/client/ARPlugins/Library
/client/ARPlugins/Library/
/client/ARPlugins/Temp
/client/ARPlugins/Temp/
/client/ARPlugins/Assets/NGUI/Examples*

!*.asset
*.csproj
*.sln
Assembly*
.DS_Store
*.userprefs

*.pdf
*.ai
*.eps
*.mp3
**/libiPhone-lib.a